@media only screen and (max-width:1200px){
  .hero{
    width: 100%;
    padding: 0 2%;
  }
  .row{
    padding: 0 2%;
  }
}
@media only screen and (max-width:1023px){
  body{
    font-size: 18px;
  }

  h2:after{
    width:500px;
  }
}
@media only screen and (max-width:767px){
  body{
  font-size: 16px;
}
section{
  padding: 30px 0;
}
.row,
.hero{
  padding: 0 4%;
}
.col{
  width: 100%;
  margin: 0 0 4% 0;
}
  .main-nav{
    display: none;
  }
}
h1{
    font-size: 180%;
  }
  h2{
    font-size: 150%;
  }
  .long-copy{
    width: 100%;
    margin-left: 0%;
  }
@media only screen and (max-width:480px){

}
